:root {
    --background: #263238;
    --bg-light: #4f5b62;
    --bg-dark: #000a12;
    --text: #eceff1;
    --text-light: #ffffff;
    --text-dark: #babdbe;
    --line: #ffc107;
    --border: #f5f5f5;
    --file-color: #598782;
    --visualization-color: #ad5252;
    --map-color: #638053;
    --data-color: #7b1fa2;
}

body {
    background-color: var(--background);
    font-family: 'Biryani', sans-serif;
}

p {
    color: var(--text);
    margin: 0;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

i {
    color: var(--text-dark);
}

h3 {
    padding: 10px;
}

h3 div {
    margin-bottom: 10px;
}

canvas {
    max-width: 100%;
    height: auto;
}

a {
    font-weight: bold;
}

a, a:hover {
    color: var(--line);
}

pre {
    white-space: pre-wrap;
}

pre code {
    color: var(--text-light);
    font-size: 14px;
    line-height: 1.3;
}

label {
    color: var(--text);
    display: block;
    margin-bottom: 15px;
}

sub {
    display: block;
    text-align: right;
    margin-top: -10px;
    font-size: 11px;
    font-style: italic;
}

ul.ui-dialog-content.ui-widget-content {
    margin: 0;
    padding: 0;
    min-height: 0;
}

.center {
    position: absolute;
    left: 0;
    right: 0;
    height: 10vh;
    margin: auto;
}

.left {
    height: 5vh;
    width: auto;
    cursor: pointer;
    color: var(--line);
    margin: calc(0.4em + 0.4vw);
}

.collapsible-body {
    position: relative;
    padding-right: 0.25em;
    padding-left: 0.25em;
}

.parent {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 50px 0;
    padding: 20px;
}

.rotate {
    margin-left: auto;
    margin-right: 0;
    float: right;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.rotate.down {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: none;
    outline: none;
    display: inline-block;
    background-color: #ecf0f1;
    padding: 0.25em;
    color: #942A57;
    border: 0;
    font-size: 1rem;
    margin: 0.25em;
    width: 90%;
    box-sizing: border-box;
}

input[type=text] {
    background-color: #f1f1f1;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.button {
    background-color: #ecf0f1;
    color: #007bff;
    border: 0;
    border-radius: 0.2em;
    padding: 18px 12px;
    margin: 0.5em;
    margin-left: 6px;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #e74c3c;
    color: #ecf0f1;
}

.gh-fork {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
}

.block_modal {
    display: none;
}

.saveblock_container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: minmax(10%, auto);
}

.saveblock_train_container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: minmax(10%, auto);
    background: var(--bg-dark);
    grid-column: 1 / 2;
    grid-row: 1 / 9;
}

.saveblock_source_container {
    background: var(--bg-dark);
    grid-column: 1 / 2;
    grid-row: 1 / 9;
}

.saveblock_output_container {
    background: var(--bg-dark);
    grid-column: 1 / 2;
    grid-row: 8/ 9;
}

.saveblock_visualization_container {
    height: 72vh;
    max-height: 72vh;
    justify-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--bg-dark);
    grid-column: 1 / 2;
    grid-row: 1 / 8;
}

.tangible_recognizers_container {
    background: var(--bg-dark);
    grid-column: 2 / 3;
    grid-row: 1 / 8;
    align-content: center;
}

.saveblock_button {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
}

.table-wrapper {
    height: 360px;
    margin: auto;
    width: 100%;
    overflow: auto;
}

.bottom-left {
    position: absolute;
    right: 4px;
}

.container {
    height: 84vh;
    max-height: 84vh;
    justify-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.text-container {
    height: 28vh;
    max-height: 28vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.out-container {
    height: 56vh;
    max-height: 56vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.title-grid-container {
    display: grid;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    grid-template-columns: 7% 18% 32% 43%;
    grid-auto-rows: minmax(4vh, auto);
    font-size: 2vh;
    margin-left: 0.7em
}

.grid-container {
    display: grid;
    grid-template-columns: 7% 18% 32% 43%;
    grid-auto-rows: minmax(28vh, auto);
}

.add-row-container {
    display: grid;
    align-items: center;
    grid-template-columns: 90% 10%;
    grid-auto-rows: minmax(1.4vh, auto);
}

.add-input {
    grid-column: 1;
}

.add-button {
    cursor: pointer;
    grid-column: 2;
}

.save-tooltip-container {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-auto-rows: minmax(1.2vh, auto);
}

.source_container {
    background: var(--bg-dark);
    border-right: 1px solid var(--border);
    grid-column: 1;
    grid-row: 1 / 3;
}

.block_container {
    background: var(--bg-dark);
    border-right: 1px solid var(--border);
    grid-column: 2;
    grid-row: 1 / 3;
}

.code_container {
    background: var(--bg-dark);
    border-right: 1px solid var(--border);
    grid-column: 3;
    grid-row: 1 / 3;
}

.output_container {
    background: var(--bg-dark);
    border-right: 1px solid var(--border);
    grid-column: 4;
    grid-row: 3 / 2;
    color: white;
}

.visualization_container {
    background: var(--bg-dark);
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    grid-column: 4;
    grid-row: 1 / 2;
}


.float {
    position: absolute;
    top: 10px;
    color: #000;
    padding: 6px;
    text-align: center;
}

.link-detail {
    font-size: small;
}

.top-right {
    top: calc(0.4em + 0.4vw);
    right: calc(0.6em + 0.4vw);
}


.top-right-center {
    top: calc(0.4em + 0.4vw);
    right: calc(0.4em + 0.4vw + 120px);
}

.top-right-left {
    top: calc(0.4em + 0.4vw);
    right: calc(0.4em + 0.4vw + 200px);
}

.top-left-left {
    top: calc(0.4em + 0.4vw);
    right: calc(0.4em + 0.4vw + 320px);
}

.my-float {
    margin-top: 16px;
}

.question-float {
    font-size: 2.5em;
    margin-top: 10px;
}


.fullWidth {
    margin: 0.25em;
    width: 98%;
}

.flexArea {
    display: flex;
    position: absolute;
}

/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */

.container > div, .gu-mirror {
    margin: 10px;
    padding: 10px;
    transition: opacity 0.4s ease-in-out;
}

.container > div {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.container .ex-moved {
    background-color: #e74c3c;
}

.container.ex-over {
    background-color: rgba(255, 255, 255, 0.3);
}

#left-lovehandles > div, #right-lovehandles > div {
    cursor: initial;
}

div.icon {
    width: 6.5vh;
    height: 6.5vh;
    border-radius: 0.5em;
}

img.icon {
    width: 4vh;
    height: auto;
    display: block;
    margin: auto;
}

p.icon {
    text-align: center;
    color: var(--text-light);
}

p.title {
    color: var(--text-light);
    font-size: 2.2vh;
    font-weight: 600;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.handle {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: move;
}

.image-thing {
    margin: 20px 0;
    display: block;
    text-align: center;
}

.codeblock {
    border: solid white 4px;
    margin: 4px;
}

ul.collapsible {
    border: solid white 4px;
    list-style-type: none;
    padding: 0;
    margin: 1em;
    cursor: grab;
}

div.collapsible-header {
    padding: 1em;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li {
    background: none;
    color: var(--text-light);
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current {
    background: var(--bg-light);
    color: var(--text);
}

.tab-content {
    display: none;
    background: var(--bg-light);
    padding: 15px;
    overflow: scroll;
}

.tab-content.current {
    display: inherit;
}

.sensorDetail {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
}

.bottomMenu {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.step-holder {
    margin: 0.5em;
}

.bia-holder {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: minmax(3vh, auto);
    max-width: 98%;
}

.step {
    margin: 0.25em;
    width: 98%;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardHolder {
    padding: 0.5em 1em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 0.25em;
    display: table-cell;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.step .subtle {
    color: #000;
    font-size: 0.5em;
    font-weight: 400;
    letter-spacing: -1px;
}

.card {
    display: flex;
    overflow-x: auto;
}

.outputArea {
    margin: 4%;
}

.mapArea {
    height: 40vh;
    width: 100%;
    margin: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.49);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1000;

    /* Position the tooltip text - see examples below! */
    position: absolute;
}

.tooltip .savetext {
    visibility: hidden;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.49);
    color: #fff;
    text-align: center;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:hover .savetext {
    visibility: visible;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
}

td, th {
    padding: 6px;
    cursor: pointer;
    text-align: left;
    color: var(--text);
}

th.des:after {
    content: "\21E9";
}

th.aes:after {
    content: "\21E7";
}


#file_tabcontent {
    background-color: var(--file-color);
}

#file_key {
    background-color: var(--file-color);
}

#visualization_tabcontent {
    background-color: var(--visualization-color);
}

#visualization_key {
    background-color: var(--visualization-color);
}

#map_tabcontent {
    background-color: var(--map-color);
}

#map_key {
    background-color: var(--map-color);
}

#chartArea svg {
    background-color: white;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.flip-horizontal-bottom {
    -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-horizontal-bottom {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}

@keyframes flip-horizontal-bottom {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}

.color-change-anim {
    animation: color-change 2s infinite;
}

@keyframes color-change {
    0% {
        color: #505050;
        background: #e08888;
    }
    50% {
        color: #d0d0d0;
        background: #526b77;
    }
    100% {
        color: #505050;
        background: #e08888;
    }
}

.ui-widget.data-dialog {
    font-size: 0.9em;
}

.ui-widget-content.data-dialog {
    background: #F9F9F9;
    color: #222222;
}

.ui-dialog.data-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

.ui-dialog.data-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
    margin: 0;
}

.ui-dialog.data-dialog .ui-widget-header {
    background: var(--data-color);
    border: 0;
    color: #fff;
}

.ui-dialog.data-dialog .ui-dialog-titlebar {
    padding: .5em;
    position: relative;
}